<a href="https://colab.research.google.com/github/Yudhistira-NB/Pemrograman-Dasar/blob/main/Pertemuan_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sapa(nama):
  return f"Halo, {nama}!"

print(sapa("Andi"))
print(sapa("Budi"))
print(sapa("Citra"))

Halo, Andi!
Halo, Budi!
Halo, Citra!

In [ ]:
def hitung_total(harga, jumlah):
  return harga * jumlah

def hitung_diskon(total, persen_diskon):
  return total * (persen_diskon/100)

harga_barang = 5000
jumlah_barang = 3
total = hitung_total(harga_barang, jumlah_barang)
diskon = hitung_diskon(total, 10)

print(f"Total: Rp.{total}")
print(f"Diskon: Rp.{diskon}")
print(f"Bayar: Rp.{total - diskon}")

Total: Rp.15000
Diskon: Rp.1500.0
Bayar: Rp.13500.0

In [ ]:
def misteri (x, y):
  if x > y:
    return x * 2
  else:
    return y + 5

print(misteri(3, 7))
print(misteri(8, 4))

12
16

In [ ]:
def kalkulator():
  angka1 = input("Masukkan angka pertama: ")
  angka2 = input("masukkan angka kedua: ")

  angka1 = int(angka1)
  angka2 = int(angka2)

  hasil = angka1 + angka2

  return hasil
hasil = kalkulator()
print(f"Hasil penjumlahan: {hasil}")

def test_kalkulator():
  return 10 + 5

print(f"test: 10 + 5 = {test_kalkulator()}")

Masukkan angka pertama: 32
masukkan angka kedua: 22
Hasil penjumlahan: 54
test: 10 + 5 = 15

In [ ]:
def hitung_rata_rata(a, b, c):
  total = a + b + c
  return total / 3

def format_nilai(nama, nilai):
  if nilai >= 80:
    grade = "A"
  elif nilai >= 70:
    grade = "B"
  else:
    grade = "C"
  return f"{nama}: {nilai} ({grade})"

result1 = hitung_rata_rata(85, 90, 75)
result2 = format_nilai("Andi", result1)
print(result2)

Andi: 83.33333333333333 (A)

In [ ]:
def proses_data(numbers):
  hasil = []
  for num in numbers:
    if num % 2 == 0:
      hasil.append(num * 2)
    else:
      hasil.append(num + 10)
  return hasil

def hitung_total(data_list):
  return sum (data_list)

input_data = [2, 3, 4, 5]
step1 = proses_data(input_data)
step2 = hitung_total(step1)
print(f"Hasil akhir: {step2}")

Hasil akhir: 40

In [ ]:
def hitung_total(menu_pesanan):
  total = 0
  for nama, harga in menu_pesanan:
    total += harga
  return total

def hitung_diskon(total):
  if total >50000:
    return total * 0.1
  return 0

def tampilkan_ringkasan(nama, menu, total, diskon):
  print(f"Pesanan untuk: {nama}")
  for i, (nama_minuman, harga) in enumerate(menu, 1):
    print(f"{i}. {nama_minuman} - Rp{harga}")
  print(f"Total: Rp.{total}")
  print(f"Diskon: Rp.{diskon}")
  print(f"Harga final: Rp{total - diskon}")

menu = [
    ("Es teh manis", 8000),
    ("Kopi susu", 10000),
    ("Jus mangga", 20000)
]

total = hitung_total(menu)
diskon = hitung_diskon(total)
tampilkan_ringkasan("Rani", menu, total, diskon)

Pesanan untuk: Rani
1. Es teh manis - Rp8000
2. Kopi susu - Rp10000
3. Jus mangga - Rp20000
Total: Rp.38000
Diskon: Rp.0
Harga final: Rp38000